<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
   	<RollingFile name="toFile" fileName="./logs/examiner.log" filePattern="./logs/examiner-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss} %5p [%t] - %c.%M, line %L - %m%n</Pattern>
      </PatternLayout>
    <OnStartupTriggeringPolicy />
    </RollingFile>    
    <Console name="toConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %5p [%t] - %c.%M - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="toFile"/>
      <AppenderRef ref="toConsole"/>
    </Root>
  </Loggers>
</Configuration>